API_HOST=0.0.0.0
API_PORT=8001
CORS_ORIGINS=http://localhost:5173

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=moex_dwh
POSTGRES_USER=moex
POSTGRES_PASSWORD=moex_pass

MOEX_DELAY_MINUTES=15
MOEX_TICKERS=SBER,GAZP,LKOH,YDEX,VTBR,ROSN,NVTK

